@{
    ViewBag.Title = "Bonnard Valentin | Contact";
    ViewBag.CopyRight = "© 2016 Bonnard Valentin - ASP.Net MVC 5 Razor Application";

}
<address>
    <h1 class="fc-r8">Contactons-nous </h1>
    <span class="tiny-straight-line white--bg"></span>
    <h1 class="fc-r4">Bonnard Valentin</h1>
    <a href="/Home/Email"><h1 class="fc-r7">dev.valentin@laposte.net</h1></a>
    <h1 class="fc-r9">0788461285</h1>
</address>

{
@Html.Partial("_ContactLink")
}
