
@{
    ViewBag.Title = "Bonnard Valentin | Developper c#";
    ViewBag.CopyRight = "© 2016 Bonnard Valentin - ASP.Net MVC 5 Razor Application";

}

<div class="jumbo">
    <h1 class="fc-r1">Bonnard Valentin</h1>
    <span class="tiny-straight-line white--bg"></span>
    <h1 class="fc-r2 white--font">Développeur</h1>
</div>
<a class="arrow bounce" href="/Work_Preview"></a>