
@{
    ViewBag.Title = "ErrorMessage";
}

<h2 class="fc-r5 white--font">
    Oups !!!! Une Erreur inattendue c'est produite.
    Vous pouvez vous rediriger vers la page d'accueil => @Html.ActionLink("Home", "Index", "Home")
</h2>

