<div class="contact--link">
    <div class="info-pri col-m1">
        <div class="info--link col-m2">
            <h5>Facebook</h5>
            <span class="pack--info--right"></span></span><span class="pack--info--left"></span>
            <div class="contain">
                <a href="https://www.facebook.com/BonnardValentin" target="_blank">facebook.com/BonnardValentin</a>
            </div>
        </div>
        <div class="info--link col-m2">
            <h5>Linkedin</h5>
            <span class="pack--info--right"></span></span><span class="pack--info--left contact--line"></span>
            <div class="contain">
                <a href="https://www.linkedin.com/in/valentin-bonnard-113868106" target="_blank">linkedin.com/</a>
            </div>
        </div>
    </div>
</div>
