@{
    ViewBag.Title = "Soval";
    ViewBag.CopyRight = "© 2016 Bonnard Valentin - ASP.Net MVC 5 Razor Application";
}

<div class="jumbotron">
    <div class="number">1</div>
    <div class="about">
        <h1 class="fc-r2 white--font"> Soval Portfolio</h1>
        <span class="tiny-straight-line white--bg"></span>
        <p class="white--font">
            Soval est mon actuel site - portfolio, fondé en Html5/Css3, Javascript/Jquery, 
            C#.Net et ASP.net. Pour l'instant, il est seul dans mon portfolio, mais bientôt
            rejoins avec d'autre projets basé sur C#.
        </p>
    </div>
</div>
<figure class="detail macbook">
    <img src="~/Content/Pics/Work/soval-macbook.png" alt="soval">
</figure>
<figure class="detail pagebook">
    <img src="~/Content/Pics/Work/soval-menu.png" alt="soval">
</figure>
<figure class="detail pagebook">
    <img src="~/Content/Pics/Work/soval-contact.png" alt="soval">
</figure>
<figure class="detail pagebook">
    <img src="~/Content/Pics/Work/soval-email.png" alt="soval">
</figure>
<figure class="detail pagebook">
    <img src="~/Content/Pics/Work/soval-about.png" alt="soval">
</figure>
<section class="portfolio--info">
    <div class="info-pri">
        <div class="info--link">
            <h5>CLient</h5>
            <span class="pack--info--right"></span></span><span class="pack--info--left"></span>
            <div class="contain">
                <p>Myself</p>
            </div>
        </div>
        <div class="info--link">
            <h5>My role</h5>
            <span class="pack--info--right"></span></span><span class="pack--info--left"></span>
            <div class="contain">
                <p>Design, programmation, Illustration</p>
            </div>
        </div>
        <div class="info--link">
            <h5>Services</h5>
            <span class="pack--info--right"></span></span><span class="pack--info--left"></span>
            <div class="contain">
                <p>Interactive, Branding</p>
            </div>
        </div>
        <div class="info--link">
            <h5>Created</h5>
            <span class="pack--info--right"></span></span><span class="pack--info--left"></span>
            <div class="contain">
                <p>2016</p>
            </div>
        </div>
    </div>
</section>
<nav id="paging" class="main">
    <div class="support pack">
        <a class="paging last" href="#" title="last project">
            <span class="paging-icon"></span> Last <span class="paging-project"></span>
        </a>
        <a class="paging next" href="#" title="next project">
            <span class="paging-icon"></span> Next <span class="paging-project"></span>
        </a>
    </div>
</nav>